{% extends 'home/base.html' %}
{% block title %} | {{ post.tittle }}{% endblock%}
{% block main %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url('{{ post.photo.url }}')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading ">
            <h1>{{ post.tittle }}</h1>
            <time style="color:#48c9b0">{{ post.jpublish }}</time>
          </div>
        </div>
      </div>
    </div>
  </header>

  <article>
    <div class="container text-justify">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{ post.document | linebreaks}}
        </div>
      </div>
    </div>
  </article>

{% endblock%}