@import url('https://cdn.fontcdn.ir/Font/Persian/Sahel/Sahel.css');

body{

	text-align: right !important;
	direction: rtl;
	font-family: Sahel !important;
}

.myfontو .focus-input100::after {
	font-family: sahel !important;
}

.btn-show-pass{
	right: initial;
	left: 0
}
.errors {
	text-align: center;
    color: #ff0000e3;
    background-color: #07c7f775;
    padding: 20px 30px;
}